.bg {
    z-index: -999;
    /* background-position: center 0; */
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.gamepage {
    background: #0006;
    color: #fff;
    font-weight: 200;
    margin: 0 15vw;
    padding: 24px;
    font-size: 1.1rem;
}
.title {
    width: 100%;
}
.title img {
    margin: 64px 0;
    width: 482px;
    /* max-width: ; */
}
.boxes-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.download-box {
    font-size: 1.2rem;
    padding: 16px 24px;
    margin: 8px 0;
    border-radius: 16px;
    border: 2px solid #fff4;
    width: 42%;
    height: 38px;
    display: flex;
    justify-content: center;
}
.download-box-empty {
    border: 2px dotted #fff2;
}
.download-box h5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 8px;
}
.download-box p {
    display: flex;
    align-items: center;
}
.download-box a {
    color: white;
    margin-right: 8px;
}
.download-box i.fa-brands {
    font-size: 2em;
    margin-left: 8px;
}

.desc {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
}
h4,
.H4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 32px;
}
hr {
    margin-bottom: 8px;
    margin-top: -4px;
    width: 30%;
}
.desc img {
    width: 60%;
}

.footer {
    margin-top: 0;
}

@media only screen and (max-width: 1080px) {
    .download-box-empty {
        display: none;
    }
    .gamepage {
        margin: 0;
    }
    .title img {
        width: min(100%, 482px);
    }
    .download-box {
        width: 100%;
    }
    #img {
        width: 90%;
        margin: auto;
        
    }
}