@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
@keyframes fadeInUp {
    from {
        transform: translateY(64px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        /* display: initial; */
    }
}
@keyframes fadeInDown {
    from {
        transform: translateY(-64px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        /* display: initial; */
    }
}
@keyframes fadeInRight {
    from {
        transform: translateX(-96px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    from {
        transform: translateX(96px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeInPop {
    from {
        transform: scale(.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        /* opacity: .5; */
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeOutUp {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-64px);
        opacity: 0;
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    /* pointer-events: none; */
    -webkit-user-drag: none;
    /* box-shadow: inset 0px 0px 0px 1px #f005;  */
}
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {background: #fff;}
::-webkit-scrollbar-thumb {background: #003398;}

::selection {
    color: #fff;
    background: #003398;
}
overlay {font-size: 0 !important; color: #0000 !important;}
img, 
.fa-brands {
    user-select: none;
}
img {
    pointer-events: none;
}

content {
    display: none;
}

[over-page] {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.article {
    padding: 0 10vw;
    max-width: 100%;
    
    display: flex;
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    /* justify-content: center; */
}

.percent-50 {width: 50%;}
.left {float: left;}
.right {float: right;}

.title {
    text-align: center;
    margin-bottom: 16px;
}
.title #horizontal-line {
    width: 256px;
    margin: auto;
}
.title h3 {
    color: #003398;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* =============== PRELOADER =============== */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading {
    z-index: 9999 !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    pointer-events: none;
}
.loading #icon {
    border: 8px solid #ddd;
    border-top-color: #444;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: rotate 1s forwards infinite linear;
}


#vertical-line {
    display: block;
    width: 2px;
    height: 70%; 
    /* background-color: #fff;  */
    background: linear-gradient(0deg, #fff0, #fffa, #fff0); 
    margin: 0 64px;
}
#horizontal-line {
    display: block;
    height: 4px;
    width: 50%; 
    background-color: #003398; 
    /* background: linear-gradient(0deg, #fff0, #fffa, #fff0);  */
    /* margin: 64px 0; */
}

/* =============== DEVELOPER MESSAGE =============== */

.dev-msg {
    background: #000a;
    color: #fff;
    letter-spacing: 1px;
    /* z-index: 99999; */
    position: absolute;
    top: 82vh;
    left: 0;
    font-size: 1em;
    font-weight: 100;
    padding: 4px 48px 4px 12px;
    border-radius: 0 16px 16px 0;
    border: 1px solid #888f;
    border-left-width: 0;
    opacity: .7;
}

/* =============== HEADER =============== */

.header {
    z-index: 99;
    position: fixed;
    top: 0;
    background: #fffe;
    box-shadow: 0 0 32px #0002;
    width: 100%;
    height: 100px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header * {
    height: 100%;
}

/* =============== ARTICLE PRESENTATION =============== */

@keyframes background-image-position-y {
    from {
        background-position: 0px 0%;
    }
    to {
        background-position: 0px 100%;
    }
}
.presentation {
    align-items: center;
    background-image: url(imgs/gradient-bg.jpg);
    background-size: cover;
    background-position: 0px 0%;
    animation: background-image-position-y 10s alternate infinite ease-in-out;
    height: 90vh;
    padding: 0 5vw;
}
.presentation overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 90vh;
    filter: none;
    /* mix-blend-mode: soft-light; */
    mix-blend-mode: multiply;
    opacity: .2;
    background-image: url(imgs/noise.png);
    background-size: cover;
    background-position: 0px 0px;
}
.presentation * {
    /* border: 1px solid #f00; */
    color: #fff;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 8px;
    font-style: italic;
    width: 100%;
    filter: drop-shadow(8px 8px 8px #00339820);
}
.presentation .svg {
    width: 256px;
    margin: 0 32px;
}
.presentation #icon {
    animation: rotate 2s infinite ease-in-out;
}

/* .presentation .left {opacity: 0; animation: fadeInRight 1s 500ms forwards;}
.presentation .right {opacity: 0; animation: fadeInLeft 1s 500ms forwards;} */

/* =============== SCROLL ANIMATION =============== */

@keyframes scroll {
    0% {
        top: 8px;
        opacity: 0;
    }
    20% {
        top: 8px;
        opacity: 1;
    }
    80% {
        top: 30px;
        opacity: 1;
    }
    100% {
        top: 30px;
        opacity: 0;
    }
}

.scroll-anim {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    /* margin-top: -128px; */
    user-select: none;
    position: relative;
    top: -128px;
    /*background: red;*/
}
.scroll-down {
    border: 4px solid #003398;
    border-radius: 18px;
    background: #0000;
    width: 36px;
    height: 64px;
    display: flex;
    justify-content: center;
}
.scroll-down span {
    color: #0000;
    background: #003398;
    width: 4px;
    height: 16px;
    border-radius: 4px;
    position: relative;
    top: 6px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
}

/* =============== ARTICLE ABOUT-US =============== */

.article.about-us {
    background-color: #ddd;
}
.article.about-us * {
    width: 100%;
    /* margin: 8px; */
    /* margin-bottom: -3.5px; */
    /* filter: drop-shadow(8px 8px 8px #00339820); */
}
.article.about-us .right {
    display: flex; 
    align-items: center;
}
.article.about-us h3 {
    margin: 16px 0;
    color: #003398;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.article.about-us h2 {
    margin: 64px 0;
    color: #000;
    font-size: 2.5rem;
    font-weight: 200;
    /* text-transform: uppercase; */
}
.article.about-us p {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 64px;
}

/* .about-us .left {opacity: 0; animation: fadeInRight 1s 500ms forwards;}
.about-us .right {opacity: 0; animation: fadeInLeft 1s 500ms forwards;} */

/* =============== ARTICLE OUR-TEAM =============== */

.our-team {
    margin: 32px 0;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: #ddd; */
    /* margin: 16px 10vw; */
}
.our-team * {
    width: 100%;
}
.our-team .title {
    text-align: center;
    margin-bottom: 16px;
}
.our-team #horizontal-line {
    width: 256px;
    margin: auto;
}
.our-team h3 {
    color: #003398;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.our-team h2 {
    margin: 64px 0;
    color: #000;
    font-size: 2.5rem;
    font-weight: 200;
}
.our-team #role {
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    color: #777;
}

.box {
    margin: 16px;
    padding: 32px;
    min-height: 200px;
    border-radius: 16px;
    box-shadow: 0 12px 32px #0002;
    /* background-color: #ddd; */
    /* min-width: 100%; */
    /* width: 50%; */
    /* border: 1px solid #ddd; */
}
.profile {
    display: flex;
    align-items: flex-start;
}
.profile-boxes {
    display: flex;
}
.profile h4 {
    margin-bottom: 16px;
    color: #003398;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.profile h4::after {
    content: '';
    display: block;
    height: 2px;
    width: 96px; 
    background-color: #003398; 
}
#profile-photo {
    margin-right: 32px;
    border-radius: 50%;
    width: 84px;
    /* margin: 32px; */
}
.empty {
    box-shadow: inset 0px 0px 0px 1px #eee;
}

/* =============== ARTICLE PROJECTS =============== */

.projects {
    margin: 32px 0;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: #ddd; */
    /* margin: 16px 10vw; */
}
.projects * {
    max-width: 100%;
}
.project {
    margin: 16px;
    width: 400px;
}
.project-boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 200px; */
}
.project .desc {
    position: absolute;
    top: 0px;
    height: 100%;
    margin: 0 32px;
    /* margin-top: -100%; */
    /* margin-top: calc(-100% + 16px); */
    color: #fff;
    /* color: #f00; */
    filter: opacity(0);
    transition: filter 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project .desc * {
    margin-bottom: 8px;
}
.project img {
    border-radius: 16px;
    transition: filter 300ms;
    width: 100%;
}
.project:hover img {
    filter: brightness(.3);
}
.project:hover .desc {
    filter: opacity(1);
    /* opacity: 1; */
}
.project h4 {
    /* color: #003398; */
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
ul.tags {
    display: flex;
    flex-wrap: wrap;
}
ul.tags li {
    font-size: .8rem;
    list-style: none;
    margin-right: 8px !important;
    padding: 8px 16px !important;
    background: #0008;
    border: 1px solid #555a;
    border-radius: 24px;
}
.container {
    position: relative;   
}
.container div {
    position: absolute;
}
.view-list {
    text-decoration: none;
    color: #888;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
    border: 1px solid #888;
    border-radius: 24px;
    width: auto;
    margin: 24px auto;
    padding: 8px 24px;
}

/* =============== ARTICLE NEWS =============== */

.news {
    margin: 32px 0;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: #ddd; */
    /* margin: 16px 10vw; */
}
.news * {
    max-width: 100%;
}

/* =============== FOOTER =============== */

.footer {
    background-color: #555;
    width: 100%;
    min-height: 140px;
    margin-top: 48px;
    padding-top: 16px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .social {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social i {
    font-size: 1.6rem;
    position: relative;
    top: 2px;
    right: 12px;
    width: 0px;
}
.social a:nth-child(1) i {right: 14px;}
.social a:nth-child(3) i {right: 13px;}
.social a:nth-child(5) i {right: 13px;}
.social a:nth-child(4) {padding: 7px 10px;}
.social a:nth-child(4) img {position: relative; top: 3px;}
.social a {
    color: #fff;
    margin: 2px 4px;
    padding: 12px 26px;
    text-decoration: none;
    border: 1px solid #fff1;
    border-radius: 50%;
    transition: background 300ms, border 300ms;
}

.social a:hover {
    border: 1px solid #fff0;
    background: #fff1;
}

@media only screen and (max-width: 1080px) {
    .dev-msg, 
    .presentation .left, 
    .presentation .svg,
    .presentation #vertical-line, 
    .about-us .right, 
    .empty,
    .projects .desc,
    #profile-photo {
        display: none !important;
    }
    .header {
        padding: 12px 0;
        height: 60px;
    }
    .article {
        padding: 0 5vw;
    }
    .presentation h2 {
        font-size: 3.5rem;
        letter-spacing: 3px;
        font-weight: 200;
        text-align: center;
        filter: drop-shadow(4px 4px 8px #00339840);
    }
    .project {
        margin: 4px 8px;
        /* width: 350px; */
    }
    .project:hover img {
        filter: brightness(1);
    }
    .box {
        margin: 8px 0;
        padding: 32px 16px;
    }
    .profile-boxes.double {
        display: flex;
        flex-wrap: wrap;
    }
}
